<html>
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href="public/style.css" rel="stylesheet">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
      <title>board jobs (Historico de serviços)</title>
    </head>
    <body>
        <h1><b>historico de Serviços</b></h1><br />    
        <form class="backForm">
            <%=typeuser%>
            <table style="width: 98%;">
                <tr>
                  <td style="width: 15%;">
                    <ul>
                      <li><a href="?menu=board&senha=<%=senha%>&email=<%=email%>&typeuser=<%=typeuser%>">Board</a></li>
                      <li><a href="?menu=createTask&senha=<%=senha%>&email=<%=email%>&typeuser=<%=typeuser%>">Criar Serviço</a></li>
                      <li><a href="?menu=historico&senha=<%=senha%>&email=<%=email%>&typeuser=<%=typeuser%>">Historico de serviços</a></li>
                      <li><a href="?menu=fincadCont&senha=<%=senha%>&email=<%=email%>&typeuser=<%=typeuser%>">Cadastro Financeiro</a></li>
                      <li><a href="?menu=fichaCad&senha=<%=senha%>&email=<%=email%>&typeuser=<%=typeuser%>">ficha Cadastral</a></li>
                      <li><a href="?menu=concluidos&senha=<%=senha%>&email=<%=email%>&typeuser=<%=typeuser%>">serviços Concluidos</a></li>
                      <li><a href="?menu=chatC&senha=<%=senha%>&email=<%=email%>&typeuser=<%=typeuser%>">Chat com os contratados</a></li>
                      <li><a href="?menu=ProdutosCaju&senha=<%=senha%>&email=<%=email%>&typeuser=<%=typeuser%>">Produtos Caju</a></li>
                    </ul> 
                  </td>
                  <td id="conteudo" name="conteudo"  >
                    <br><br>  
                    <div style="width: 100%; height: 400px; overflow-y: scroll;">        
                      <table class="ScrollTable">
                        <tr>
                          <td style="width: 10%;">
                            titulo
                          </td>
                          <td style="width: 10%;">
                            Profissional
                          </td>
                          <td style="width: 10%;">
                            tipo de Pagamento
                          </td>
                          <td style="width: 10%;">
                            estado atual da task
                          </td>
                          <td style="width: 10%;">
                            valor
                          </td>    
                          <td style="width: 10%;"></td>                      
                          <td style="width: 10%;">
                            ficha da task
                          </td>
                        </tr>
                        <%for(let x= 0; x<task.length;x++){%>
                        <tr>
                          <td style="width: 10%;">
                            <%=task[x].titleService%>
                          </td>
                          <td style="width: 10%;">  
                            <%=task[x].developer%><br />  
                          </td>
                          <td style="width: 10%;">
                            <%=task[x].tipoPagamento%><br />  
                          </td>
                          <td style="width: 10%;">
                            <%=task[x].column%><br />
                          </td>
                          <td style="width: 10%;">
                            <%=task[x].valor%><br />
                          </td>    
                          <td style="width: 10%;">
                            <%if(task[x].column=="postRev"){%>
                              <a href="?taskServ=altera&id=<%=task[x]._id%>&menu=historico&senha=<%=senha%>&email=<%=email%>&typeuser=<%=typeuser%>&column=postEnd&count=<%=task[x].idtask%>">
                                  finalizar
                              </a>
                            <%}%>
                          </td>                     
                          <td style="width: 10%;">
                            <button type="button" data-toggle="modal" data-target="#myModal" 
                              onclick="jobTask(
                                  '<%=task[x].titleService%>', 
                                  '<%=task[x].description%>', 
                                  'R$<%=task[x].valor%>',
                                  '<%=task[x].developer%>',
                                  '<%=task[x].email%>'
                                  )">
                                  Ver Task
                              </button>
                          </td>                          
                        </tr>                        
                        <%}%>   
                    </table>
                  </div>  
                  </div>
                  </td>
                </tr>
              </table>    
              <script>
                function jobTask(titulo, description, valor, developer, email) {
                  document.getElementById("titulo").innerHTML = titulo;                   
                  document.getElementById("valor").innerHTML = valor;
                  document.getElementById("description").innerHTML = description;                   
                  document.getElementById("developer").innerHTML = developer;
                  document.getElementById("email").innerHTML = email;
                }
                </script>
              <div class="container" style="width: 200px;">
                <div class="modal fade" id="myModal" role="dialog">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title"><p id="titulo"></p></h4>
                      </div>
                      <div class="modal-body">
                        <p id="description"></p>
                        <p id="developer"></p>
                        <p id="email"></p>
                        <p id="valor"></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        </form>        
    </body>
</html>