<html>
    <head>
      <meta charset="utf-8">
      <link href="public/style.css" rel="stylesheet">
      <title>board jobs</title>
    </head>
    <body>
        <h1><b>Board</b></h1><br />    
        <form>
            <%=typeuser%>
            <table style="width: 100%;">
                <tr>
                  <td style="width: 25%;">
                    <%if(typeuser=="professional"){%>            
                      <ul>
                        <li><a href="?menu=board&senha=<%=senha%>&email=<%=email%>&typeuser=<%=typeuser%>">Board</a></li>
                        <li><a href="?menu=ganho&senha=<%=senha%>&email=<%=email%>&typeuser=<%=typeuser%>">Ganhos Financeiros</a></li>
                        <li><a href="?menu=fincadPro&senha=<%=senha%>&email=<%=email%>&typeuser=<%=typeuser%>">Cadastro Financeiro</a></li>
                        <li><a href="?menu=fichaCad&senha=<%=senha%>&email=<%=email%>&typeuser=<%=typeuser%>">ficha Cadastral</a></li>
                        <li><a href="?menu=chatP&senha=<%=senha%>&email=<%=email%>&typeuser=<%=typeuser%>">Chat com o Cliente</a></li>
                        <li><a href="?menu=ProdutosCaju&senha=<%=senha%>&email=<%=email%>&typeuser=<%=typeuser%>">Produtos Caju</a></li>
                      </ul> 
                    <%}%>  
                  </td>
                  <td id="conteudo" name="conteudo" style="width: 75%;" >
                    controle financeiro   
                    <div style="width: 100%; height: 380px; overflow-y: scroll;">              
                    <table style="width: 98%; border: 1px solid #020202; border-collapse: collapse;">
                      <tr style="background-color: #f2f2f2; border: 1px solid #020202;">
                        <td style="width: 25%; border: 1px solid #020202;"><b>trabalho</b></td>
                        <td style="width: 25%; border: 1px solid #020202;"><b>Valor</b></td>
                        <td style="width: 25%; border: 1px solid #020202;"><b>pagamento</b></td>
                        <td style="width: 25%; border: 1px solid #020202;"><b>etapa</b></td>
                        <td style="width: 25%; border: 1px solid #020202;"><b>estado</b></td>
                      </tr>
                     <%task.forEach(function(task) {%>
                      <tr style="border: 1px solid #020202;">
                        <td style="width: 25%; border: 1px solid #020202;"> 
                          <%=task.idtask%> - <%=task.titleService%>                      
                        </td>
                        <td style="width: 25%; border: 1px solid #020202;">
                          R$ <%=task.valor%>
                          <input type="hidden" id="valor-<%=task.idtask%>" name="valor-<%=task.idtask%>" value="<%=task.valor%>" /> 
                        </td>
                        <td style="width: 25%; border: 1px solid #020202;">
                          <%if(task.tipoPagamento == "PIX"){%>
                            <p>PIX</p>
                            <div style="margin-top:6px;">
                              <input type="submit" id="chavePix" name="chavePix" style="width:85%; padding:5px 10px; margin-left:6px; background-color:#2196F3; color:#fff; border:none; border-radius:4px; cursor:pointer;"  value="Enviar chave PIX" />
                            </div>
                          <%}else if(task.tipoPagamento == "Bitcoin"){%>
                              <p>Bitcoin</p>
                              <div style="margin-top:6px;">
                                <input type="submit" id="carteiraBitcoin" name="carteiraBitcoin" style="width:85%; padding:5px 10px; margin-left:6px; background-color:#f7931a; color:#fff; border:none; border-radius:4px; cursor:pointer;"  value="Enviar carteira Bitcoin" />
                              </div>
                          <%}else if(task.tipoPagamento == "bancodeposito"){%>
                            <p>Depósito Bancário</p>
                            <input type="submit" id="contaTED" name="contaTED" style="width:85%; padding:8px 12px; background-color:#4CAF50; color:#fff; border-radius:4px; cursor:pointer;"  value="Enviar dados do TED" />                                
                          <%}%>
                        </td>
                        <td style="width: 25%; border: 1px solid #020202;">
                          <%=task.column%>
                        </td>
                        <td style="width: 25%; border: 1px solid #020202; margin-left: 0px;">
                          <%
                            const pagamentoConfirmado = task.column === "postEnd" && (
                              task.tipoPagamento === "PIX"
                                  ? typeof pagamentoRecebido !== 'undefined' && pagamentoRecebido
                                  : task.tipoPagamento === "bancodeposito"
                                    ? typeof pagamentoRecebidoTED !== 'undefined' && pagamentoRecebidoTED
                                    : true
                            );
                          %>
                          <% if (pagamentoConfirmado) { %>
                            <p style="color: green;">pay</p>
                          <% } else { %>
                            <p style="color: red;">Wait</p>
                          <% } %>
                        </td>
                      </tr>
                      <%})%>
                    </table>
                    </div>   
                  </td>
                </tr>                
              </table>    
              <input type="hidden" id="typeuser" name="typeuser" value="<%=typeuser%>" />              
              <input type="hidden" id="email" name="email" value="<%=email%>" />              
              <input type="hidden" id="senha" name="senha" value="<%=senha%>" />
              <input type="hidden" id="menu" name="menu" value="ganho" />      
        </form>        
    </body>
</html>