<html>
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href="public/style.css" rel="stylesheet">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>      
      <title>board jobs (Pagamentos)</title>
    </head>
    <body>
      <h1><b>Fazer o Pagamento</b></h1><br />
      <form>
      <table style="width: 98%;">
        <tr>
          <td class="no-print" style="width: 15%;">
              <%if(typeuser=="contractor"){%>
                <ul>
                  <li><a href="?menu=board&senha=<%=senha%>&email=<%=email%>&typeuser=<%=typeuser%>">Board</a></li>
                  <li><a href="?menu=createTask&senha=<%=senha%>&email=<%=email%>&typeuser=<%=typeuser%>">Criar Serviço</a></li>
                  <li><a href="?menu=historico&senha=<%=senha%>&email=<%=email%>&typeuser=<%=typeuser%>">Historico de serviços</a></li>
                  <li><a href="?menu=fincadCont&senha=<%=senha%>&email=<%=email%>&typeuser=<%=typeuser%>">Cadastro Financeiro</a></li>
                  <li><a href="?menu=fichaCad&senha=<%=senha%>&email=<%=email%>&typeuser=<%=typeuser%>">ficha Cadastral</a></li>
                  <li><a href="?menu=concluidos&senha=<%=senha%>&email=<%=email%>&typeuser=<%=typeuser%>">serviços Concluidos</a></li>
                  <li><a href="?menu=chatC&senha=<%=senha%>&email=<%=email%>&typeuser=<%=typeuser%>">Chat com os contratados</a></li>
                  <li><a href="?menu=ProdutosCaju&senha=<%=senha%>&email=<%=email%>&typeuser=<%=typeuser%>">Produtos Caju</a></li>
                </ul>
              <%}%>
          </td>
          <td id="conteudo" name="conteudo" style="width: 80%;">
            Profissional:
            <select  name="profissionalSel" id="profissionalSel" onchange="this.form.submit()">
              <option value="" <%= profissionalSel ? "" : "selected" %>></option>
              <%for(var x=0;x < profissional.length;x++){%>
                <option value="<%=profissional[x].email%>" <%= profissionalSel == profissional[x].email ? "selected" : "" %>><%=profissional[x].nome%></option>
              <%}%>
            </select>
            Serviço:
            <select  name="taskservice" id="taskservice" onchange="this.form.submit()">
              <option value="" ></option>
              <%for(var x=0;x<task.length;x++){%>
                <%if( (task[x].column == "postRev" || estadoPg == "postPag") && profissionalSel == task[x].developer || taskservice == task[x].titleService ){%>
                  <option value="<%=task[x].titleService%>" <%= taskservice == task[x].titleService ? "selected" : "" %> ><%=task[x].titleService%></option>
                  <%tipoPagamento = task[x].tipoPagamento%>                  
                <%}%>
              <%}%>
            </select> 
            <br /><br /> 
            <%if(taskservice != "" && tipoPagamento != ""){%>  
              <%task.map(function(dado){%>
                <%if(dado.titleService == taskservice){%> 
                  <label>Pagamento via <%if(dado.tipoPagamento=="bancodeposito"){%>
                    Deposito Bancário
                    <%}else{%>
                      <%=dado.tipoPagamento%>
                    <%}%>
                  </label><br />
                  <label><%=dado.codigo%></label><br /><br /> 
                  <input type="hidden" name="valorpagamento" value="" />
                  <input type="hidden" id="tipoPagamento" name="tipoPagamento" value="<%=dado.tipoPagamento%>" />     
                  <input type="submit" id="buttonPay" name="buttonPay" value="Pagar" />
                <%}%>
              <%})%>
            <%}%>
          <br />     
          <input type="hidden" id="typeuser" name="typeuser" value="<%=typeuser%>" />
          <input type="hidden" id="email" name="email" value="<%=email%>" />
          <input type="hidden" id="senha" name="senha" value="<%=senha%>" />
          <input type="hidden" id="menu" name="menu" value="fincadCont" />
          <br /><br /> 
        </td>
      </tr>
    </table> 
  </form>
</body>
</html>