<html>
    <head>
      <meta charset="utf-8">
      <link href="public/style.css" rel="stylesheet">
      <title>board jobs</title>
    </head>
    <body>
      <form>
        <a href="?opcao=home">Home</a>
      </form>
        <h1><b>Board Jobs</b></h1><br />
        <h3><b>ABOUT</b></h3><br />   
        <p>
            O quadro de serviços é um serviço aonde quem precisa contratar profissionais <br />
            podem fazer seu anuncios dos serviços que precisam para realizar um projeto.<br />
            E os profissionais podem pegar esses anúncios e executar o serviço.<br /><br />
            Assim que o serviço for concluido o profissional move a task para a coluna de<br />
            revisão o contratante verifica se  esta ok e funcionando, estando tudo ok o contratante<br />
            move a task para coluna de concluído faz o pafagamento e o profissional recebe o que foi<br />
            combinado e a plataforma de serviços fica com 5% desse pagamento.
        </p>        
        </form>
    </body>
</html>